<h1> users info</h1>
<h1><%= @users.name %></h1>
<div><img src="<%= @users.photo %>" alt="User Photo"></div>
Number of posts:<%= @users.posts_counter %><br>
<h2> Bio </h2>
<%= @users.bio %>
<% @posts.each do |posts| %>
  <li><%= posts.title %></li>
  <li><%= posts.text %></li>
  <li>comments, <%= posts.comments_counter %></li>
  <li>likes: <%= posts.likes_counter %></li>
  <% end %>
 

