<h1>Display posts</h1>

<div>
  <img src="<%= @user.photo %>" alt="User Photo">
</div>
<h1><%= @user.name %></h1>
<p>Number of posts: <%= @user.posts_counter %></p> 
<% @posts.each do |post| %>
  <%= link_to user_post_path(@user, post) do %>
    <li><%= post.title %></li>
    <li><%= post.text %></li>
    <li>Comments: <%= post.comments_counter %></li>
    <li>Likes: <%= post.likes_counter %></li>

    <% if post.comments.any? %>
      <% recent_comment = post.comments.order(created_at: :desc).first %>
      <p>Most recent comment: <%= recent_comment.text %> - <%= recent_comment.author.name %></p>
    <% else %>
      <p>No comments.</p>
    <% end %>
  <% end %>
<% end %>
  