<h1>Display posts</h1>

<div>
  <img src="<%= @user.photo %>" alt="User Photo">
</div>
<h1><%= @user.name %></h1>
<p>Number of posts: <%= @user.posts_counter %></p> 
<h2>Comments:</h2>
<% @posts.limit(5).each do |post| %>
    <h1><%= post.title %></h1>
    <p><%= post.text %></p>
    <li>Comments: <%= post.comments_counter %></li>
    <li>Likes: <%= post.likes_counter %></li>
    <% if post.comments.present? %>
      <% recent_comment = post.comments.recent.first %>
      <p>Most recent comment: <%= recent_comment.text %> - <%= recent_comment.author.name %></p>
    <% else %>
      <p>No comments.</p>
    <% end %>
  <% end %>
  

    
