
<h4><%= @post.author.name %></h4>
<p><%= @post.text %></p>
<li>comments: <%= @post.comments_counter %></li>
<li>likes: <%= @post.likes_counter %></li>
<%= link_to 'Create Comments', new_user_post_comment_path(@user, @post)%>
<%= button_to "Add Likes", user_post_likes_path(@user, @post), method: :post, class: "btn btn-info btn-sm" %>
<h2>Comments:</h2>
<% if @comments.any? %>
  <% @comments.each do |comment| %>
    <p><%= comment.text %> - <%= comment.author.name %></p>
  <% end %>
<% else %>
  <p>No comments.</p>
<% end %>
<% flash.each do |key, value| %>
  <div class="flash <%= key %>">
    <%= value %>
  </div>
<% end %>
