<h1>Post Details</h1>
<h4><%= @post.author.name %></h4>
<p><%= @post.text %></p>
<li>comments: <%= @post.comments_counter %></li>
<li>likes: <%= @post.likes_counter %></li>

<% if @comments.present? %>
<h2>Comments:</h2>
<% @comments.each do |comment| %>
  <p><%= comment.text %> - <%= comment.author.name %></p>
<% end %>
<% else %>
  <p>No comments.</p>
<% end %>

